
@font-face {
  font-family: 'HarryPotterRussianVersionofGfdtk';
  src: url('HarryPotterRussianVersionofGfdtk.eot?#iefix') format('embedded-opentype'),  url('HarryPotterRussianVersionofGfdtk.woff') format('woff'), url('HarryPotterRussianVersionofGfdtk.ttf')  format('truetype'), url('HarryPotterRussianVersionofGfdtk.svg#HarryPotterRussianVersionofGfdtk') format('svg');
  font-weight: normal;
  font-style: normal;
}
